.social{
  position: absolute;
    z-index: 1;

}


.header_socials{
  display: flex;
flex-direction: column;
  align-items: center;
gap: 0.8em;
position: fixed;

  left: 90px;
  bottom: 0rem;
/*   
  padding-right: 0px; */
 

}
.header_socials::after{
    content: "";
    width: 1px;
    height: 10rem;
    background-color: #242D49;
}
.header_socials>a:hover{
  transform: scale(1.9) !important;

}

.scroll_down{
  display: flex;
  /* flex: auto; */
flex-direction: column;
  align-items: center;
  gap: 5rem;
  position: fixed;
  right: 0.1rem;
  bottom: 0rem;
  padding-right: 0.1rem; 
}
.scroll_down:hover{
  transform: scale(1.2) !important;
}

 
  

 
  

.scroll_down>p{
  
  /* top: 5rem; */
  color:#242D49;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
  cursor: pointer;
  
}
.scroll_down::after{
  content: "";
  width: 1px;
  height: 9rem;
  background-color: #242D49;
  bottom: 1rem;
}
/* .scroll_down{
  display: flex;
  flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 25rem;
    color:#242D49;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
    cursor: pointer;
    
} */

@media screen and (max-width: 768px) {
  .social {
    display: none;

  }
  .section-title{
    padding-top: 10rem;
}
}