.awesome {
    display: flex;
    flex-direction: column;
    position: relative;
    }
  /* .awesome > :nth-child(1) {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
  }
  .awesome > :nth-child(2) {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
  }
  .awesome > :nth-child(3) {
    color: var(--gray);
    font-size: 14px;
    margin-top: 1rem;
  } */
.services{
  padding-bottom: 10rem;
}

 
 
  .topic{

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  }
.topic1{
  padding: 0.1rem;
  padding-top: 0.1rem;
  margin-right: 80px;
  
  
}

  /* .topic1{
    padding: 3.5rem;
    padding-top: 1rem;
  } */
  .flex-items {
   
    width: 10rem;
    height: 50px;
    margin: 20px;
    text-align: center;
    font-size: 30px;
    line-height: 1.5;
  }
  .skill{
    display: flex;
    flex-direction: column;
   padding: 0.1rem;
  
  

  }
  .font{
    width: 20rem;
    height: 50px;
    margin: 20px;
    text-align: center;
    font-size: 50px;
    line-height: 1.5;
    font-weight: bold;

  }
  .font2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5rem;
   margin-bottom: 2rem; 
  
  }
  /* .font{
    margin-left: 15rem;
    font-size: 2.5rem !important;
    font-weight: bold;
  }
  
  .font1{
    display: flex;
    flex-flow: row-reverse wrap;
    color: var(--orange)  !important;
    font-size: 2.5rem !important;
    font-weight: bold;
    padding-right: 10rem;
   margin-top: 0px;
  
  } */

  
  .icon{
margin-left: 1rem;

  }
  .icon1{
    margin-left: 6rem;
    display: flex;

      }