.project-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 0px;
    align-items: center;
 padding-left: 15rem;
       
}


.project_image{
 display: flex;
 width: 60vw;
 /* margin-top: 50px; */
 flex-wrap: wrap;



}
.section-title{
    font-size: 30px;
    margin-left: 12rem;
}
@media (max-width: 767px) {

    .project-container{
        padding-left: 17px;
        width: 20vw;
    }

.section-title{
    padding-top: 5rem;
    margin-left: 0rem;
}

}
